In [44]:
import pandas as pd

In [2]:
hotels = pd.read_csv('hotels.csv')
hotels.head()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643
3,216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,34,9/22/2015,7.5,Mercure Paris 19 Philharmonie La Villette,United Kingdom,No Negative,0,607,Friendly staff quiet comfortable room spotles...,11,8,10.0,"[' Leisure trip ', ' Solo traveler ', ' Standa...",681 day,48.888697,2.394540
4,Molenwerf 1 1014 AG Amsterdam Netherlands,914,3/5/2016,8.5,Golden Tulip Amsterdam West,Poland,Torn sheets,4,7586,The staff was very friendly and helpful Break...,20,10,9.6,"[' Business trip ', ' Couple ', ' Standard Dou...",516 day,52.385601,4.847060

In [35]:
df = hotels.loc[hotels['lat'].isna(), ['hotel_name']]

In [41]:
df.groupby('hotel_name')['hotel_name'].count()

hotel_name
Austria Trend Hotel Schloss Wilhelminenberg Wien    141
City Hotel Deutschmeister                            63
Cordial Theaterhotel Wien                            40
Derag Livinghotel Kaiser Franz Joseph Vienna        112
Fleming s Selection Hotel Wien City                 496
Holiday Inn Paris Montmartre                         47
Hotel Advance                                        26
Hotel Atlanta                                       285
Hotel City Central                                  421
Hotel Daniel Vienna                                 182
Hotel Park Villa                                     44
Hotel Pension Baron am Schottentor                  172
Maison Albar Hotel Paris Op ra Diamond              224
Mercure Paris Gare Montparnasse                      28
NH Collection Barcelona Podium                      113
Renaissance Barcelona Hotel                          20
Roomz Vienna                                         34
Name: hotel_name, dtype: int64

In [43]:
hotels[hotels['hotel_name'] == 'Hotel Advance']

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
25256,Sep lveda 180 Eixample 08011 Barcelona Spain,18,7/13/2017,8.3,Hotel Advance,United Kingdom,Breakfast was continental with the only hot f...,15,156,Upgraded free of charge without asking to a r...,28,4,10.0,"[' Leisure trip ', ' Couple ', ' Double or Twi...",21 days,NaN,NaN
36918,Sep lveda 180 Eixample 08011 Barcelona Spain,18,10/6/2016,8.3,Hotel Advance,Australia,There was no conditioner in the bathroom whic...,18,156,The staff were very helpful in accommodating ...,16,15,8.8,"[' Leisure trip ', ' Couple ', ' Double or Twi...",301 day,NaN,NaN
41666,Sep lveda 180 Eixample 08011 Barcelona Spain,18,2/2/2017,8.3,Hotel Advance,Canada,Front rooms facing the street have a lot of t...,18,156,Good location Small hotel with no noise from ...,15,2,8.8,"[' Leisure trip ', ' Solo traveler ', ' Double...",182 day,NaN,NaN
53996,Sep lveda 180 Eixample 08011 Barcelona Spain,18,7/19/2017,8.3,Hotel Advance,Germany,Air conditioning is not up to date Very week,10,156,No Positive,0,20,3.8,"[' Leisure trip ', ' Couple ', ' Double or Twi...",15 days,NaN,NaN
67650,Sep lveda 180 Eixample 08011 Barcelona Spain,18,1/9/2017,8.3,Hotel Advance,United Kingdom,Personal preference for a kettle in the room,10,156,Modern clean within walking or metro access t...,23,13,9.2,"[' Leisure trip ', ' Couple ', ' Double or Twi...",206 day,NaN,NaN
71717,Sep lveda 180 Eixample 08011 Barcelona Spain,18,6/23/2016,8.3,Hotel Advance,United Kingdom,No Negative,0,156,Lovely Balcony,3,4,9.2,"[' Leisure trip ', ' Couple ', ' Double or Twi...",406 day,NaN,NaN
71798,Sep lveda 180 Eixample 08011 Barcelona Spain,18,6/14/2016,8.3,Hotel Advance,Belgium,No Negative,0,156,Breakfast was a simple buffet but very good A...,36,2,9.2,"[' Leisure trip ', ' Couple ', ' Luxury Suite ...",415 day,NaN,NaN
108566,Sep lveda 180 Eixample 08011 Barcelona Spain,18,2/2/2016,8.3,Hotel Advance,United Kingdom,No Negative,0,156,Fantastic location with high quality finished...,8,12,9.6,"[' Leisure trip ', ' Group ', ' Standard Tripl...",548 day,NaN,NaN
119371,Sep lveda 180 Eixample 08011 Barcelona Spain,18,1/3/2017,8.3,Hotel Advance,United Kingdom,Shower wasn t great,5,156,No Positive,0,1,7.5,"[' Leisure trip ', ' Family with young childre...",212 day,NaN,NaN
193209,Sep lveda 180 Eixample 08011 Barcelona Spain,18,6/12/2016,8.3,Hotel Advance,United States of America,The front desk staff was not helpful or very ...,19,156,Decor nice but room was very small The locati...,20,1,6.3,"[' Leisure trip ', ' Couple ', ' Double or Twi...",417 day,NaN,NaN
198899,Sep lveda 180 Eixample 08011 Barcelona Spain,18,4/10/2016,8.3,Hotel Advance,United Kingdom,Little things for them to improve on There sh...,56,156,Lots was great too much to list,8,2,9.6,"[' Leisure trip ', ' Family with older childre...",480 day,NaN,NaN
211931,Sep lveda 180 Eixample 08011 Barcelona Spain,18,4/12/2016,8.3,Hotel Advance,United Kingdom,There was no bar which I would ve preferred a...,69,156,I had a room on the fifth floor which was nic...,56,1,7.9,"[' Leisure trip ', ' Couple ', ' Double or Twi...",478 day,NaN,NaN
219043,Sep lveda 180 Eixample 08011 Barcelona Spain,18,3/27/2016,8.3,Hotel Advance,United States of America,No Negative,0,156,Staff was very helpful with directions and he...,18,4,10.0,"[' Business trip ', ' Group ', ' Double or Twi...",494 day,NaN,NaN
253934,Sep lveda 180 Eixample 08011 Barcelona Spain,18,6/20/2017,8.3,Hotel Advance,Australia,No Negative,0,156,Really liked having the patio to relax in,10,2,10.0,"[' Leisure trip ', ' Group ', ' Double or Twin...",44 days,NaN,NaN
284679,Sep lveda 180 Eixample 08011 Barcelona Spain,18,9/21/2016,8.3,Hotel Advance,Australia,No Negative,0,156,Helpful staff quiet and very handy location o...,34,3,8.3,"[' Leisure trip ', ' Couple ', ' Double or Twi...",316 day,NaN,NaN
284705,Sep lveda 180 Eixample 08011 Barcelona Spain,18,6/23/2017,8.3,Hotel Advance,Australia,No Negative,0,156,The staff were very friendly and helpful Thei...,40,7,9.6,"[' Leisure trip ', ' Family with young childre...",41 days,NaN,NaN
291241,Sep lveda 180 Eixample 08011 Barcelona Spain,18,8/25/2016,8.3,Hotel Advance,Saudi Arabia,No Negative,0,156,Perfect for transit flight,5,4,9.0,"[' Leisure trip ', ' Group ', ' Standard Tripl...",343 day,NaN,NaN
295833,Sep lveda 180 Eixample 08011 Barcelona Spain,18,5/16/2017,8.3,Hotel Advance,Turkey,Room uncomfortable and noisy,5,156,No Positive,0,22,4.2,"[' Leisure trip ', ' Solo traveler ', ' Double...",79 days,NaN,NaN
300151,Sep lveda 180 Eixample 08011 Barcelona Spain,18,7/9/2017,8.3,Hotel Advance,Canada,No Negative,0,156,Staffs were very nice and we had a very comfo...,20,5,9.6,"[' Leisure trip ', ' Couple ', ' Double or Twi...",25 days,NaN,NaN
321765,Sep lveda 180 Eixample 08011 Barcelona Spain,18,4/13/2017,8.3,Hotel Advance,France,tried to call several times before arriving a...,65,156,not really that many stars but clean and clos...,15,6,7.1,"[' Leisure trip ', ' Couple ', ' Double or Twi...",112 day,NaN,NaN
325064,Sep lveda 180 Eixample 08011 Barcelona Spain,18,4/24/2016,8.3,Hotel Advance,Egypt,Rooms are very very small,7,156,Looks new and good,6,7,3.8,"[' Leisure trip ', ' Solo traveler ', ' Double...",466 day,NaN,NaN
354943,Sep lveda 180 Eixample 08011 Barcelona Spain,18,7/11/2017,8.3,Hotel Advance,Hong Kong,No Negative,0,156,Super location for my stay Excellent polite s...,34,5,9.2,"[' Leisure trip ', ' Solo traveler ', ' Double...",23 days,NaN,NaN
357998,Sep lveda 180 Eixample 08011 Barcelona Spain,18,1/7/2017,8.3,Hotel Advance,United Kingdom,Would be nice to have a kettle in the room fo...,21,156,The location was spot on,7,1,7.9,"[' Leisure trip ', ' Couple ', ' Double or Twi...",208 day,NaN,NaN
362948,Sep lveda 180 Eixample 08011 Barcelona Spain,18,3/15/2017,8.3,Hotel Advance,United Kingdom,Machine coffee No bar,6,156,Location great for public transport And great...,24,2,10.0,"[' Leisure trip ', ' Couple ', ' Double or Twi...",141 day,NaN,NaN
368980,Sep lveda 180 Eixample 08011 Barcelona Spain,18,9/2/2016,8.3,Hotel Advance,Russia,No Negative,0,156,Exterior design location staff terrace,6,8,10.0,"[' Leisure trip ', ' Couple ', ' Double or Twi...",335 day,NaN,NaN
380278,Sep lveda 180 Eixample 08011 Barcelona Spain,18,9/3/2015,8.3,Hotel Advance,Germany,Breakfast are to expensive,6,156,I get a upgrade with a terazza Great,10,19,8.8,"[' Business trip ', ' Solo traveler ', ' Doubl...",700 day,NaN,NaN

In [3]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [4]:
object_columns = [s for s in hotels.columns if hotels[s].dtypes == 'object']
hotels_test = hotels.drop(object_columns, axis = 1)

In [5]:
hotels_test = hotels_test.fillna(0)

In [6]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х - данные с информацией об отелях, у - целевая переменная (рейтинги отелей)  
X = hotels_test.drop(['reviewer_score'], axis = 1)  
y = hotels_test['reviewer_score']

In [7]:
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split

In [8]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [9]:
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели

In [10]:
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
      
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

In [11]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они отличаются  
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений от фактических.  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.1413035038942903