In [1]:
import pandas as pd

In [ ]:
df_bike = pd.read_csv('data\citibike_tripdata.csv')

In [5]:
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [10]:
a = df_bike.shape[0] - df_bike['start station id'].count() #Сколько пропусков в столбце start station id?
a

169

In [12]:
#Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.
df_bike['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [14]:
#Велосипед с каким идентификатором является самым популярным?
df_bike['bikeid'].value_counts()

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64

In [16]:
#Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer?
df_bike['usertype'].value_counts(normalize=True) * 100

Subscriber    77.400667
Customer      22.599333
Name: usertype, dtype: float64

In [17]:
#Кто больше занимается велоспортом — мужчины или женщины?
df_bike['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [19]:
df_bike['start station id'].nunique() == df_bike['end station id'].nunique()

False

In [23]:
df_bike['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [27]:
df_bike.drop(labels=['start station id', 'end station id'], axis=1, inplace=True)
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [28]:
df_bike['age'] = 2018 - df_bike['birth year']
df_bike['age']

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [29]:
df_bike.drop(labels='birth year', axis=1, inplace=True)

In [34]:
'''Замените признак birth year на более понятный признак возраста клиента age. 
Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. 
Сколько поездок совершено клиентами старше 60 лет?'''
df_bike[df_bike['age'] > 60]['age'].count()

11837

In [38]:
df_bike['starttime'] = pd.to_datetime(df_bike['starttime'])
df_bike['stoptime'] = pd.to_datetime(df_bike['stoptime'])

In [40]:
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 27.5+ MB

In [41]:
'''Создайте признак длительности поездки trip duration. 
Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). 
Сколько целых минут длилась поездка под индексом 3 в таблице?'''
df_bike['trip duration'] = df_bike['stoptime'] - df_bike['starttime']
df_bike['trip duration']

0        0 days 00:27:15.365000
1        0 days 00:02:12.200000
2        0 days 00:55:37.898000
3        0 days 00:07:16.837000
4        0 days 02:20:57.993000
                  ...
299995   0 days 00:07:23.648000
299996   0 days 00:11:33.138000
299997   0 days 00:05:12.997000
299998   0 days 00:56:00.092000
299999   0 days 00:03:45.051000
Name: trip duration, Length: 300000, dtype: timedelta64[ns]

In [45]:
df_bike.iloc[3, :]

starttime                  2018-09-01 00:00:21.746000
stoptime                   2018-09-01 00:07:38.583000
start station name            St James Pl & Oliver St
start station latitude                      40.713079
start station longitude                    -73.998512
end station name                  Park Pl & Church St
end station latitude                        40.713342
end station longitude                      -74.009355
bikeid                                          28866
usertype                                   Subscriber
gender                                              2
age                                                34
trip duration                  0 days 00:07:16.837000
Name: 3, dtype: object

In [46]:
'''Создайте «признак-мигалку» weekend, который равен 1, 
если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. 
Выясните, сколько поездок начиналось в выходные.'''
df_bike['weekend'] = df_bike['starttime'].dt.dayofweek.apply(lambda x: 1 if x == 5 or x == 6 else 0)
df_bike['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [47]:
#Создайте признак времени суток поездки time_of_day
def time_of_day(hour):
    if 0 <= hour <= 6:
        return 'night' 
    elif 6 < hour <= 12:
        return 'morning'
    elif 12 < hour <= 18:
        return 'day'
    else:
        return 'evening'

In [49]:
df_bike['time_of_day'] = df_bike['starttime'].dt.hour.apply(time_of_day)
df_bike['time_of_day'].value_counts()

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64

In [52]:
diff = round (df_bike[df_bike['time_of_day'] == 'day'].shape[0] / 
              df_bike[df_bike['time_of_day'] == 'night'].shape[0] , 0)
diff

9.0